.navbar{
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-brand img{
    height: 75px;
    width: 110px;
}
#imagenprim{
    filter: brightness(50%);
    
}
.card-img-overlay{
    margin-right: 100px;
}
.card-img-overlay h5{
    text-align: end;
    padding-left: 800px;
    padding-top: 300px;
}
.card-img-overlay p{
    font-size: larger;
    text-align: end;
    margin-left: 60%;

}
.card-img-overlay .btn{
    text-align: end;
    display: inline;
}
#titulotop{
    font-size: small;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
}
#titulos{
    text-align: center;
    padding: 0px;
}
footer{
    color: white;
    background-color: rgb(30, 68, 91);
    width: 100%;
    padding: 50px 0px;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.box__footer a{
    text-decoration: none;
    color: white;
}