@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body{
  background-color: rgba(255, 255, 255, 0.808);
}

a {
  color:#009688;
}

#l2{
  float:left
}

.social-icons li {
  font-size: 1.2em;
  padding: 0.5em;
}

#l2 li{
  display: inline;
}

#l2{
  margin-left:50px;
  margin-top:100px;
}

div.tooltip{
  background: #009688;
  padding: .5em;
  border-radius: 4;
  color: white;
  font: courier;
  float:left;
  position: absolute;
  top: 150px;
  left: 220px;
  
}
div.tooltip:before {
  position:absolute;
  bottom:34px;
  content:"";
  border-bottom: 10px solid #009688;
  border-top: 10px solid transparent ;
  border-right: 10px solid transparent ;
  border-left: 10px solid transparent ;
}